--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.128.0
uvicorn[standard]==0.40.0
python-multipart==0.0.6
torch==2.9.1+cpu
torchvision==0.24.1+cpu
Pillow>=12.1.0
grad-cam>=1.5.5
numpy==2.4.0
opencv-python-headless>=4.8.0